name: CI Pipeline
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run sample build
        run: echo "CI Build Successful!"

  JDK-install:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: install jdk
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: build with maven
        run: |
          cd spring-boot-app
          mvn -B clean package
          echo "build sucessfull"



      


      
